* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  div {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25%;
  }
  div * {
    background-color: rgb(238, 238, 238);
    /*  border: 3px solid red; */
  }
  header {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.311);
  }
  main {
    display: flex;
    flex-direction: column;
  }
  main h2 {
    text-align: center;
    margin: 10px 0;
  }
  main img {
    padding: 20px;
  }